samples/Student.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Student" type="StudentType"/>
  <xs:complexType name="nameType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="firstName"/>
        <xs:attribute type="xs:string" name="lastName"/>
        <xs:attribute type="xs:string" name="age"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="schoolType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="schoolName"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="StudentType">
    <xs:sequence>
      <xs:element type="nameType" name="name"/>
      <xs:element type="schoolType" name="school"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>